/* Outter box */
#messagebox {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: transparent;
}
#messagebox .tip {
  padding: 6px 0 6px 44px;
  margin: 0;
  background: url(status-info.png) 10px 1px no-repeat #222;
  font-size: 10px;
  color: #FFF;
  bottom:0;
  left:0;
  cursor:pointer;
  display: none;
  z-index: 5000;
}

/* messages */
#popupmsg{
  background-repeat: no-repeat;
  background-position: 10px 13px;
  padding-left: 44px;
  padding-top: 10px;
  background-color: #E0FFBF;
  border-width: 3px;
}
#popupmsg .close {
  padding:2px;
  border:1px solid #777;
  width:70px;
  text-align:center;
  margin:2px;
  float:right;
  background:#FFF;
  font-size: 10px;
}
#popupmsg ul {
  margin: 0;
}
div.status {
  color: #33a333;
  border-color: #c7f2c8;
}
#popupmsg.error{
  color: #a30000;
  background-color: #FFCCCC;
}
div.status {
  background-image: url(status-info.png);
}
div.error {
  background-image: url(status-error.png);
}
div.warning {
  background-image: url(status-warning.png);
}
